.nav {
  align-items: center;

}

.logo {
  grid-area: logo;
  width: 70%;
  font-size: 34px;
  color: #d29712;
}

.profile {
  grid-area: user;
  display: block;
  gap: 30px;
  justify-content: flex-end;
  & span {
    font-size: 22px;
    margin-top: 2%;
  }
  & img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}