.footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    height: 80px;
    justify-content: flex-start;
    padding: 0 50px;
    width: 100%;
    & div {
        display: flex;
        gap: 80px;
        margin-left: 2%;
    }
    & span {
        color: #000000;
        font-size: 24px;
    }
    & a {
        color: #000000;
        font-size: 24px;
        text-align: right;
        text-decoration: none;
    }
}

